.no-bullet{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.navbar-nav .nav-item .nav-link{

  transition: none !important;
}

.list-item{
  background-color: $gray;
}


.element-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}